:root {
  --azul-oscuro: #18191d;
  --variant-gris: #d1d0d1;
  --color-blanco: #fff;
  --variant-rojo: #AF030B;
  --title-rojo: #F33349;
  --black: #000;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 26px;
  letter-spacing: 0.5px;
}

header {
  background-image: url('../res/images/pimple-face-banner.webp');
  background-repeat: no-repeat;
  background-size: contain;
  height: 725px;
  background-color: var(--variant-gris);
  display: grid;
  grid-template: 0.1fr 0.3fr 0.3fr 1fr / 0.3fr 1fr 1fr;
  grid-template-areas:
    ". . ."
    "menu menu redes-header"
    ". titles-header img-header"
    ". par-header .";
}

#redes-header {
  grid-area: redes-header;
}

.titles-header {
  grid-area: titles-header;
  padding-top: 70px;
}

.titles-header div{
  font-size: 3.2rem;
}

.titles-header h1 {
  font-size: 3.4rem;
}

#par-header {
  grid-area: par-header;
}

.content-blog p {
  width: 75%;
  margin: 40px 94.5px 7%;
}

#par-header p {
  text-transform: capitalize;
  white-space: normal;
  font-size: 1rem;
  width: 500px;
  margin-bottom: 50px;
}

nav {
  background-color: var(--azul-oscuro);
  width: 898px;
  grid-area: menu;
  height: 76px;
  animation-name: animationfade;
  animation-duration: 1s;
  animation-fill-mode: both;
  position: fixed;
  top: 50px;
  z-index: 2;
}

@keyframes animationfade {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

li {
  display: inline;
}

.reviews li {
  height: 439px;
}

.navbar-nav li:last-child {
  width: 209px;
  background-color: var(--variant-rojo);
  text-align: center;
  padding: 25px 0;
}

ul {
  list-style: none;
}


a {
  text-decoration: none;
  color: var(--color-blanco);
}

a:focus {
  border-color: var(--color-blanco);
}

a:focus-visible {
  border-color: var(--color-blanco);
}

.btn {
  font-size: 0.75rem;
  border-radius: 50px;
  padding: 10px 35px;
}

.slider-social {
  height: 78px;
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
  width: 212px;
  height: 53px;
}

.slider-social a {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50px;
  color: var(--black);
  font-size: 16px;
  margin: 9px;
  border: 1px solid transparent;
  transition: background-color 0.2s ease-in-out;
}

.slider-social img {
  width: 17px;
  height: 17px;
}

.slider-social li:last-child a {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50px;
  color: var(--black);
  font-size: 16px;
  margin: 9px;
  background-color: var(--variant-rojo);
  border: 1px solid transparent;
}

.about-sec {
  height: 741px;
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  background-color: var(--azul-oscuro);
}

.about-sec article {
  display: grid;
  grid-template: 0.2fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . ."
    ". img-doc info-doc ."
    ". img-doc . .";
  gap: 0;
  height: 741px;
}

.img-doc {
  grid-area: img-doc;
}

.img-doc img {
  height: 718px;
}

.info-doc {
  grid-area: info-doc;
  color: var(--color-blanco);
  padding: 190px 0 0 70px;
}

.name-doc {
  color: var(--title-rojo);
  font-size: 3.43rem;
  width: 540px;
}

.info-doc div {
  font-size: 1.25rem;
}

.carrer-sec {
  height: 85px;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--color-blanco);
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
}

.carrer-sec h2 {
  display: none;
  margin: 0;
}

.carrer-sec div {
  font-size: 2.6rem;
  font-weight: 900;
  color: var(--variant-rojo);
}

.carrer-sec h3 {
  font-size: 1rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 80%;
  margin-left: 6%;
}

.flex-items article {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: auto;
  order: 0;
}

.gallery-sec {
  background-color: #f7f9fa;
  text-align: center;
  display: grid;
  grid-template: 0.4fr 1fr / 1fr;
  justify-items: center;
  padding-top: 120px;
  height: 1105px;
}

.title-gallery {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 900px;
  padding-bottom: 50px;
}

.title-gallery .paintletter {
  font-size: 1.37rem;
  font-weight: 300;
}

.title-gallery h2 {
  font-size: 4.06rem;
  font-family: serif;
  font-weight: 500;
}

.gallery-sec article {
  display: grid;
  height: 800px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-template-areas:
    ". img-pac ."
    ". img-details .";
}

#img-pac {
  grid-area: img-pac;
}

.blog article img {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  width: 100%;
  height: 567px;
}

#img-pac img:hover {
  transition: opacity 1s linear;
  opacity: 0.5;
}

#img-details {
  grid-area: img-details;
  height: 100px;
}

.testimonials {
  height: 831px;
  display: grid;
  grid-template-rows: 0.6fr 1fr;
}

.heading-area {
  grid-row: 1 / 2;
  text-align: center;
  width: 75%;
  margin: auto;
}

.reviews {
  grid-row: 2 / 3;
}

.contact-sec h3, h4 {
  display: none;
  margin: 0;
}

.heading-area h2 {
  font-size: 4.06rem;
  font-family: serif;
  font-weight: 500;
}

.heading-area .paintletter {
  font-size: 1.37rem;
  font-weight: 300;
}

.reviews h4 {
  display: none;
}

.reviews ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quote-box {
  border: 1px solid transparent;
  border-radius: 50px;
  width: 34.4px;
  height: 33.4px;
  background-color: var(--variant-rojo);
  padding: 15px 10px 10px 14px;
  position: absolute;
  margin-top: -2%;
  margin-left: 10.5%;
}

.reviews article {
  background-color: var(--azul-oscuro);
  color: var(--color-blanco);
  width: 380px;
  height: 309px;
  border-radius: 10px;
}

.height-review {
  height: 279px!important;
}

.info-rev {
  color: var(--color-blanco);
  text-align: center;
  padding-top: 72px;
  padding-bottom: 60px;
  margin: 0 0 25px 50px;
  width: 270px;
  height: 104px;
}

.testimonial-img {
  position: absolute;
  margin-left: 9%;
}

.text1 {
  position: absolute;
  width: 160px;
  height: 52px;
  text-align: center;
  margin: 0;
  margin-left: 7.5%;
  margin-top: 8%;
}

.height-review .testimonial-img {
  margin-top: -2%;
}

.height-review .text1 {
  margin-top: 5.5%;
}

.testimonial-name {
  color: var(--azul-oscuro);
  font-size: 1.25rem;
  font-weight: 700;
}

.testimonial-title {
  color: var(--azul-oscuro);
}

.blog {
  background-color: var(--azul-oscuro);
  height: 567px;
}

.blog h2 {
  display: none;

}

.blog h3 {
  font-size: 3.43rem;
  font-weight: 500;
  font-family: serif;
  margin-top: 30px;
}

.blog article {
  display: grid;
  grid-template: 0.3fr 1fr 0.2fr / 1fr 1fr;
  text-align: center;
  color: var(--color-blanco);
}

.content-blog {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.content-blog .paintletter{
  font-size: 20px;
  font-family: serif;
  font-weight: 500;
}

.contact-sec {
  display: grid;
  grid-template: 0.7fr 1fr / 0.6fr 1fr 1fr 0.6fr;
}

.contact-sec h2 {
  font-size: 4.06rem;
  font-weight: 500;
  font-family: serif;
}

.contact-form {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding-top: 70px;
}

input {
  display: flex;
  padding: 25px;
  margin-bottom: 20px;
  width: 551px;
  height: 0;
  border-radius: 0;
  font-size: 1rem;
  border: 1px solid var(--variant-gris);
}

textarea {
  width: 564px;
  height: 174px;
  padding: 13px;
  padding-left: 25px;
  border-radius: 0;
  margin-bottom: 20px;
  color: var(--variant-gris);
}

.enviar {
  width: 603px;
  height: 41px;
  border: 0;
  background-color: var(--variant-rojo);
  color: var(--color-blanco);
  border-radius: 50px;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 7px 35px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.others-contact {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  padding-top: 70px;
}

.others-contact ul {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  margin-top: 70px;
}

.ubicacion::before {
  content: url("../res/images/ubicacion.png");
  padding-right: 20px;
}

.telefono::before {
  content: url("../res/images/phone-icon.png");
  padding-right: 20px;
}

.email::before {
  content: url("../res/images/telegram1.png");
  padding-right: 20px;
}

.contact-titles {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  text-align: center;
  padding-top: 15%;
}

.contact-titles .paintletter {
  font-size: 1.37rem;
  font-weight: 300;
}

.contact-map {
  height: 630px;
  position: sticky;
  padding-top: 120px;
}

.contact-map h3 {
  display: none;
  margin: 0;
}

.map-btns {
  position: absolute;
  margin-top: 0.5%;
  margin-left: 0.5%;
}

.btn2 {
  font-size: 0.75rem;
  padding: 6px 10px;
  border-radius: 2px;
  color: var(--black);
  background-color: var(--color-blanco);
}

iframe {
  width: 560px;
  height: 315px;
  border: none;
}

footer {
  height: 86px;
  padding: 70px 0;
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-center div {
  font-size: 0.81rem;
  font-weight: 700;
}

.text-center ul {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
